/* custom-scrollbar.css */
/* Add your custom scrollbar styles here */
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1a184; /* Change to your desired color */
  border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f1e8e2; /* Change to your desired color for the scrollbar track */
}
